
a:link {
text-decoration: none;
color: white;
}

html,body {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden;
font-family:'Courier New', Courier, monospace;
}

.header {
background-color: #1f2937;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
font-family:'Courier New', Courier, monospace;
}


.main {
display: flex;
justify-content: center;
align-items: center;
gap: 100px;
background-color: #1f2937;
flex-wrap: wrap;
}

.logo {
height: 90px;
width: 90px;
padding-left: 120px;
}

.hero {
flex: 0 2 0;
width: 400px;
height: 250px;
padding: 100px;
}

.links {
list-style: none;
font-size: 16px;
display: flex;
gap: 26px;
padding-right: 150px;
}

.content1 {
width: 400px;
display: flex;
gap: 10px;
flex-direction: column;
padding: 120px;
padding-right: 0;
}

.big-text {
font-size: 48px;
font-weight: 800;
color: #f9faf8;
}

.describe {
font-size: 18px;
}

button {
width: 120px;
height: 35px;
background-color:  #3882f6;
border-radius: 8px;
border:0;
font-weight: 600;
}

.hd2, .caption, .accolades {
display: flex;
}

.hd2 {
flex-direction: column;
}

.caption {
font-size: 36px;
font-weight: 800;
padding: 50px;
justify-content: center;
align-items: center;
}

.accolades {
flex-wrap: wrap;
padding: 40px;
justify-content: center;
align-items: center;
}

.clip {
border: 5px solid #3882f6;
border-radius: 30px;
width: 200px;
height: 150px;
max-width: 200px;
}

.c1 {
font-size: small;
}

.pair {
width: 300px;
height: 200px;
}

.quote {
background-color: #e5e7eb;
display: flex;
justify-content: center;
align-items: center;
padding: 150px;
flex-direction: column;
color: #1f2937;
font-size: 36px;
font-style: italic;
}

.name {
font-style: normal;
font-size: large;
}

.scont {
background-color: #3882f6;
color: #e5e7eb;
margin: 150px;
padding: 40px;
border-radius: 10px;
display: flex;
flex-direction: column;
gap: 20px;
}

.divo {
display: flex;
gap: 250px;
}

.conttxt {
font-size: 25px;
}

.b2 {
border: 3px solid #e5e7eb;
}

.footer {
background-color: #1f2937;
color: #f9faf8;
padding: 25px;
justify-content: center;
align-items: center;
display: flex;
}